.contact-section {
    padding: 80px 7%;
    background: #eaf5ff;
}

.contact-content {
    max-width: 700px;
}

.contact-content address {
    margin-top: 25px;
    padding: 25px;

    background: white;

    border-left: 5px solid #18a673;
    border-radius: 8px;

    font-style: normal;
}

.contact-content a {
    color: #1769aa;
    font-weight: bold;
}
